@font-face {
	font-family: KorolevBold;
	src: url(./assets/fonts/KorolevBold.woff);
}

@font-face {
	font-family: KorolevMedium;
	src: url(./assets/fonts/KorolevMedium.woff);
}

@font-face {
	font-family: KorolevHeavy;
	src: url(./assets/fonts/KorolevHeavy.woff);
}