* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.conteiner-menu {
	height: 1vh;
}

.conteiner-foto {

}

.logo-principal {

}

.conteiner-navegação {
	width: 88vw;
	height: 14vh;
}

.lista-menu {
	list-style: none;
	font-family: Roboto;
	color: #006C1C;
	font-size: 4em;
	width: 45vw;
	height: 23vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.item-menu {

}

.caixa-um {
	width: 100vw;
	height:	110vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.texto-um {
	width: 80vw;
	height: 18vh;
	font-size: 2.8em;
	font-family: Roboto;
	color: #000000;
}

.imagem-um {

}

.imagem-dois {

}

.imagem-tres {

}

.caixa-dois {
	width: 100vw;
	height:	90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulo-um {
	font-family: Roboto;
	color: #000000;
	font-size: 5em;
	width: 80vw;
	height: 6vh;
	display: flex;
	align-items: center;
}

.menu-dois {
	list-style: none;
    font-size: 3.2em;
    font-family: Roboto;
    color: #000000;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-menu-um {

}

.item-menu-dois {

}

.item-menu-tres {

}

.item-menu-quatro {

}

.item-menu-cinco {

}

.item-menu-seis {

}

.item-menu-sete {

}

.item-menu-oito {

}

.caixa-tres {
	background-color: #006C1C;
	width: 100vw;
	height:	50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulo-dois {
	color: #FFFF00;
	font-family: Roboto;
	font-size: 5em;
	width: 80vw;
	height: 6vh;
	display: flex;
	align-items: center;
}

.texto-dois {
	width: 80vw;
	height: 18vh;
	font-size: 3em;
	font-family: Roboto;
	color: #FFFFFF;
}

.conteiner-foto-dois {
	width: 94vw;
	height: 26vh;
	background-color: #FFFFFF;
	border-radius: 6em;
	box-shadow: 0em 0.3em 0.6em #A9A9A9;
}

.foto-impacto {

}

.caixa-quatro {
	width: 100vw;
    height: 90vh;
    display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.titulo-tres {
	color: #000000;
	font-family: Roboto;
	font-size: 5em;
	width: 80vw;
	height: 6vh;
	display: flex;
	align-items: center;
}

.imagem-quatro {

}

.imagem-cinco {

}

.imagem-seis {

}

.imagem-sete {

}

.imagem-oito {

}

.imagem-nove {

}

.texto-icone {
	font-family: Roboto;
	font-size: 2.9em;
	width: 34vw;
}

.texto-icone-dois {
	font-family: Roboto;
	font-size: 2.9em;
	width: 34vw;
}

.caixa-cinco {
	background-color: #00C733;
	width: 100vw;
    height: 80vh;
    display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.conteiner-foto-tres {
	width: 94vw;
	height: 26vh;
	background-color: #FFFFFF;
	border-radius: 6em;
	box-shadow: 0em 0.3em 0.6em #A9A9A9;	
}

.foto-contato {

}

.titulo-quatro {
	color: #FFFF00;
	font-family: Roboto;
	font-size: 5em;
	width: 80vw;
	height: 6vh;
	display: flex;
	align-items: center;
}

.texto-tres {
	width: 80vw;
	height: 8vh;
	font-size: 3em;
	font-family: Roboto;
	color: #FFFFFF;
}

.texto-quatro {
	width: 80vw;
	height: 8vh;
	font-size: 3em;
	font-family: Roboto;
	color: #FFFFFF;
}

.texto-cinco {
	width: 80vw;
	height: 8vh;
	font-size: 3em;
	font-family: Roboto;
	color: #FFFFFF;
}

.texto-seis {
	width: 80vw;
	height: 8vh;
	font-size: 3em;
	font-family: Roboto;
	color: #FFFFFF;
}

.caixa-final {
	width: 100vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-final {
	font-family: Roboto;
	font-size: 2.6em;
	width: 80vw;
}

.logo-vnw {

}
