*{
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: Korolev;
   	src: url(assets/fonts/KorolevHeavy.woff);
}
main {
	height: 500px;	
}
header{
	width: 100%;
}
.img_topo{
	width: 100%;
}
.menu{	
	width: 228px;
	position: fixed;
	top: 270px;
	left: 35px;
}
.menu a {
	background-color: none;
    color: #006C1C; 
    display: block;
    padding: 12px; 
    text-decoration: none; 
    font-family: korolevBold;
}
.menures{
	display: none;
}
.hamburguer{
	margin: 2px;
	height: 5px;
	width: 30px;
	cursor: pointer;
	background: #752A08;
}
.img_logo{
	width: 257px;
	height: 167px;
	position: fixed;
	top: 80px;
	left: 15px;
}
.topo {
	position: relative;
	margin: 1px;
	width: 100%;
}
.img_fundo{
	width: 100%;
	height: 650px;
	margin-top: -10px;
}
.introdução{
	width: 553px;
	height: 404px;
	font-size: 23px;
   	font-weight: bold;
   	position: relative;
   	top: -350px;
   	left: 280px;
}
.img_1{
	width: 295px;
	height: 200px;
	border-radius: 25px;
	position: relative;
	top: -520px;
	left: 280px;
}
.img_2{
	width: 295px;
	height: 200px;
	border-radius: 25px;
	position: relative;
	top: -520px;
	left: 330px;
}
.img_3{
	width: 295px;
	height: 200px;
	border-radius: 25px;
	position: relative;
	top: -520px;
	left: 380px;	
}
.titulo1{ 
	font-size: 44px;
	position: relative;
	top: -420px;
	left: 280px;
}
.img_alfabetização{
	width: 100px;
	height: 92px;
	position: relative;
	top: -360px;
	left: 325px;
}
.text_alfabetização{
	width: 173.54px;
	height: 43.49px;
	position: relative;
	top: -360px;
	left: 325px;
}
.img_reforço{
	width: 100px;
	height: 92px;
	position: relative;
	top: -505px;
	left: 585px;
}
.text_reforço{
	width: 198.56px;
	height: 50px;
	position: relative;
	top: -500px;
	left: 585px;
}
.img_ingles{
	width: 100px;
	height: 92px;
	position: relative;
	top: -640px;
	left: 830px;
}
.text_inglês{
	width: 198.56px;
	height: 50px;
	position: relative;
	top: -643px;
	left: 830px;
}
.img_palestras{
	width: 100px;
	height: 122px;
	position: relative;
	top: -820px;
	left: 1080px;
}
.text_palestras{
	width: 125.92px;
	height: 43.59px;
	position: relative;
	top: -820px;
	left: 1080px;
}
.img_artesanato {
	width: 120px;
	height: 112px;
	position: relative;
	top: -770px;
	left: 320px;
}
.text_artesanato{
	width: 145.29px;
	height: 43.59px;
	position: relative;
	top: -785px;
	left: 328px;
}
.img_teatro{
	width: 100px;
	height: 92px;
	position: relative;
	top: -925px;
	left: 598px;
}
.text_teatro{
	width: 85.56px;
	height: 43.59px;
	position: relative;
	top: -925px;
	left: 625px;
}
.img_dança{
	width: 100px;
	height: 92px;	
	position: relative;
	top: -1065px;
	left: 835px;
}
.text_dança{	
	width: 85.56px;
	height: 43.59px;
	position: relative;
	top: -1065px;
	left: 865px;
}
.img_capoeira{
	width: 100px;
	height: 92px;
	position: relative;
	top: -1207px;
	left: 1060px;
}
.text_capoeira{
	width: 85.56px;
	height: 43.59px;
	position: relative;
	top: -1207px;
	left: 1080px;
}

.impacto_color{
	background-color: #006C1C;
	width: 77.8%;
	height:315px;
	position: relative;
	top: -1100px;
	left: 286px;
}
.titulo2{
	color: #FFFF00;
	font-size: 44px;
	position: relative;
	top: -1362px;
	left: 340px;
	width: 300px;
}
.img_impacto{
	width: 395px;
	height: 300px;
	border-radius: 25px;
	border: 20px solid #FFFFFF;
	position: relative;	
	top: -1660px;
	left: 790px;
}
.text_impacto{
	color: #FFFFFF;
	font-size: 18px;
	width: 250px;
	height: 263px;
	position: relative;	
	top: -1320px;
	left: 345px;
}
.titulo3{
	position: relative;
	top: -1600px;
	left: 290px;
}
.p_container1{
	display: flex;
	justify-content: space-around;
	width: 750px;
	position: relative;
	top: -1520px;
	left: 300px;
}
.p_container2{
	display: flex;
	justify-content: space-around;
	width: 750px;
	position: relative;
	top: -1500px;
	left: 300px;
}
.img_sesc{
	width: 139px;
	height: 139px;
}
.img_negra{
	width: 93px;
	height: 93px;
}
.img_radio{
	width: 118px;
	height: 118px;
}
.img_itarare{
	width: 92px;
	height: 92px;
	position: relative;
	left: 70px;
}
.text_itarare{
	width: 92px;
	height: 92px;
	position: relative;
	top: 105px;
	left: -70px;
	font-size: 10px;	
	font-weight: bold;
}
.img_samba{
	width: 180px;
	height: 180px;
}
.img_hashi{
	width: 77px;
	height: 77px;
	position: relative;
	left: 60px;
}
.text_hashi{
	position: relative;
	top: 100px;
	left: -70px;
	font-family: "korolevBold"
}
.c_conteiner{
	background-color: #00C733;
	width: 77.8%;
	height:515px;
	position: relative;
	top:-1420px;
	left: 286px;
}
.img_contato{
	width: 395px;
	height: 300px;
	border-radius: 25px;
	border: 20px solid #FFFFFF;
	position: relative;
	top: 80px;
	left:500px;
}
.titulo4{
	color:#FFFF00;
	font-size: 44px;
	position: relative;
	top: -270px;
	left:70px;
	width: 300px;
}
.numero_tel{
	position: relative;
	top:-215px;
	left: 68px;
	color: #FFFFFF;
	width: 200px;
}
.Endereço{
	color: #FFFFFF;
	position: relative;
	top: -85px;
	left: 68px;
	width: 300px;
}
.end_email{
	color: #FFFFFF;
	position: relative;
	top: -220px;
	left: 68px;
	width: 300px;
}
.logo_vnw{
	width: 100px;
	height: 100px;
}
footer{
	position: relative;
	top: 1200px;
	left: 640px;
	width: 200px;
	height: 50px;
} 
.logo_vnw{
	position: relative;
	left: 110px;
	top: -30px;
	width: 90px;
	height: 60px;
}
@media screen and (max-width: 768px) {
    .menu {
  	width: 400%;
  	height: 150px;
  	flex-direction: column;
	}
	.menures{
		display: block;
		position: relative;
   		top: -220px;
	}
	.menu a {
		display: inline;
		position: relative;
		top: -230px;
	}
	.hamburguer{
		margin: 2px;
		height: 5px;
		position: relative;
		top: -250%;
		cursor: pointer;
	}
    .body {
    	width: 100%;
	}
	header{
		width: 100vh;
	}
	.img_topo{
		width: 100%;
	}
	.cabeça{
		width: 730px;
	}
	.img_fundo {
		transform: rotate(90deg);
		filter: blur(5px);
		height: 1050px;
		width: 1155px;
		position: relative;
		left: -350px;
		top:-100px;
	}
	.img_logo{
		width: 490px;
		height: 340px;
		position: relative;
		left: 153px;
		top: 43px;
    	z-index:1;
	}
	.introdução{
		width: 600px;
		font-size: 35px;
		font-family: "korolevBold";
		position: relative;
		left: 75px;
		top:-800px;
	}
	.img_1{
		width: 695px;
		height: 495px;
		position: relative;
		left: 18px;
		top: -710px;
	}
	.img_2 {
		width: 695px;
		height: 495px;
		position: relative;
		left: 18px;
		top: -690px;
	}
	.img_3{
		width: 695px;
		height: 495px;
		position: relative;
		left: 18px;
		top: -670px;
	}
	.titulo1{
		position: relative;
		top: -600px;
		left: 80px;
	}
	.img_alfabetização{
		position: relative;
		left: 98px;
		top: -525px;
		width: 220px;
		height: 180px;
	}
	.text_alfabetização{
		position: relative;
		left: 120px;
		top: -540px;
		font-size: 30px;
	}
	.img_reforço{
		width: 220px;
		height: 180px;
		position: relative;
		top: -748px;
		left: 450px;
	}
	.text_reforço{
		position: relative;
		top: -760px;
		left: 470px;
		font-size: 30px;
	}
	.img_ingles{
		width: 220px;
		height: 180px;
		position: relative;
		left: 90px;
	}
	.text_inglês{
		left: 100px;
		font-size: 30px;
	}
	.img_palestras{
		width: 220px;
		height: 180px;
		position: relative;
		left: 470px;
		top: -900px;
	}
	.text_palestras{
		font-size: 30px;
		position: relative;
		left: 500px;
		top:-890px;
	}
	.img_artesanato{
		width: 220px;
		height: 180px;
		position: relative;
		left: 90px;
	}
	.text_artesanato{
		position: relative;
		left: 120px;
		font-size: 30px;
	}
	.img_teatro{
		width: 220px;
		height: 180px;
		position: relative;
		left: 450px;
		top:-1000px;
	}
	.text_teatro{
		position: relative;
		top:-1000px;
		left: 510px;
		font-size: 30px;
	}
	.img_dança{
		width: 220px;
		height: 180px;
		position: relative;
		left: 80px;
		top: -900px;
	}
	.text_dança{
		position: relative;
		top: -890px;
		left: 150px;
		font-size: 30px;
	}
	.img_capoeira{
		width: 220px;
		height: 180px;
		position: relative;
		left: 420px;
		top: -1100px;
	}
	.text_capoeira{
		position: relative;
		left: 480px;
		top:-1120px;
		font-size: 30px;
		color: black;
	}
	.impacto_color{
		position: relative;
		top: -1050px;
		left: -40px;
		width: 790px;
		height: 900px;
	}
	.titulo2{
		position: relative;
		top: -1900px;
		left: 80px;
	}
	.text_impacto{
		font-size: 50px;
		width: 570px;
		position: relative;
		top: -1850px;
		left: 80px;
	}
	.img_impacto{
		position: relative;
		left: 40px;
		top: -1600px;
		width: 600px;
		height: 450px;
	}
	.titulo3{
		position: relative;
		left: 40px;
		top: -1520px;
	}
	.p_container1{
		position: relative;
		left: 10px;
		top: -1490px;
	}
	.p_container2{
		position: relative;
		left: 20px;
		top: -1490px;	
	}
	.c_conteiner{
		width: 750px;
		height: 980px;
		position: relative;
		left: -10px;
	}
	.img_contato{
		position: relative;
		left: 80px;
		top: 25px;
		width: 550px;
		height: 380px;
	}
	.titulo4 {
		position: relative;
		top: 60px;
		font-family: KorolevBold;
		font-size: 35px;
	}
	.numero_tel{
		position: relative;	
		top: 80px;
		font-family: KorolevBold;
		font-size: 35px;
		width: 250px;
	}
	.Endereço {
		position: relative;	
		top: 280px;
		font-family: KorolevBold;
		font-size: 35px;
		width: 450px;
	}
	.end_email {
		position: relative;	
		top: 20px;
		font-family: KorolevBold;
		font-size: 35px;
		width: 250px;
	}
	footer{
		position: relative;
		top: 3050px;
		left: 250px;
	}
}