* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.conteiner-menu {

}

.conteiner-foto {

}

.logo-principal {

}

.conteiner-navegação {

}

.lista-menu {

}

.item-menu {

}

.caixa-um {
	width: 100vw;
	height:	80vh;
}

.texto-um {
	width: 80%;
	height: 100%;
	font-size: 280%;
	font-family: Roboto,bolt;
	color: #000000;
}

.imagem-um {

}

.imagem-dois {

}

.imagem-tres {

}

.caixa-dois {

}

.titulo-um {
	font-family: Roboto,bolt;
	color: #000000;
}

.menu-dois {

}

.item-menu-um {

}

.item-menu-dois {

}

.item-menu-tres {

}

.item-menu-quatro {

}

.item-menu-cinco {

}

.item-menu-seis {

}

.item-menu-sete {

}

.item-menu-oito {

}

.caixa-tres {
	background-color: #006C1C;
}

.titulo-dois {
	color: #FFFF00;
}

.texto-dois {

}

.conteiner-foto-dois {

}

.foto-impacto {

}

.caixa-quatro {

}

.titulo-tres {

}

.imagem-quatro {

}

.imagem-cinco {

}

.imagem-seis {

}

.imagem-sete {

}

.imagem-oito {

}

.imagem-nove {

}

.texto-icone {

}

.texto-icone-dois {

}

.caixa-cinco {
	background-color: #00C733;
}

.titulo-quatro {
	color: #FFFF00;
}

.texto-tres {

}

.texto-quatro {

}

.texto-cinco {

}

.caixa-final {

}

.texto-final {

}

.logo-vnw {

}
